<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Simply Better Dominoes</title>

    <!-- favicon -->
    <link rel="icon" href="images/favicon.svg" type="image/x-icon" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- libraries -->
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- game styles -->
    <link rel="stylesheet" href="css/game.css" />
  </head>
  <body>
    <main>
      <section class="playground">
        <div id="tile" class="tile"></div>

        <div id="board" class=""></div>
        <!-- <div
          id="hand"
          class="container-sm bg-secondary rounded-top-3 fixed-bottom"
          style="height: 120px"
        ></div> -->
        <div id="deck" class=""></div>
      </section>
    </main>
  </body>
</html>
