<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>Simply Better Dominoes</title>

    <!-- favicon -->
    <link rel="icon" href="images/favicon.svg" type="image/x-icon" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- libraries -->
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- main styles -->
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header class="">
      <nav class="navbar navbar-expand-lg bg-main fixed-top">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <img src="./images/favicon.svg" alt="Logo" width="35px" />
            <span class="h mb-0">Simply Better Dominoes</span>
          </a>
          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa-solid fa-bars fa-xl text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-5 mt-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link bg-main p-2 rounded-2 border-1 w-auto"
                  href="/signup"
                  >Sign Up</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link bg-white text-main p-2 rounded-2 border-1 w-auto"
                  href="/login"
                  >Log In</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="container-md h-100">
          <div
            class="d-flex flex-column justify-content-center align-items-center h-100 text-center gap-5"
          >
            <img src="./images/favicon.svg" alt="Logo" width="200px" />
            <h1 style="max-width: 400px">Simply Better Dominoes</h1>
            <div class="btns">
              <a href="/game" class="btn btn-dark">Let's Play</a>
              <a href="/login" class="btn btn-dark">Login</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer
      class="d-flex justify-content-center align-items-center p-3"
      style="height: 80px"
    >
      <p class="mb-0">
        All rights reserved &copy; 2025
        <span class="text-decoration-underline">Mohammad</span>
      </p>
    </footer>

    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
