:root {
  --main-color: #333;
}

.bg-main {
  color: #fff !important;
  background-color: var(--main-color) !important;
}

.text-main {
  color: var(--main-color) !important;
}

body {
  background-color: var(--main-color);
  color: #fff;
  font-family: 'Roboto';
  letter-spacing: 0.1em;
}

.h,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Orbitron', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit !important;
  cursor: pointer !important;
}

img {
  display: block;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7)),
    url('../images/hero-wallpaper.jpg') center / cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

footer {
  height: 60px !important;
}

.status {
  display: flex;
  justify-content: space-between;
}

.timestamp {
  position: relative;
  top: -1em;
  left: 0;
  align-self: flex-end;
  font-size: 0.75em;
  color: #333;
}

h1 {
  margin-bottom: 0 !important;
}

.messageStack {
  z-index: 1000;
  top: 10vh;
  right: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageStack > div {
  width: fit-content;
  max-width: 500px;
  position: relative;
  right: 0;
}
.messageStack > .appear {
  animation: appear 0.4s linear;
}
@keyframes appear {
  0% {
    transform: translateX(110%);
  }
  70% {
    transform: translateX(-10%);
  }
}

.messageStack > .disappear {
  animation: disappear 0.4s linear;
}
@keyframes disappear {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.messageStack > div .progress {
  height: 5px !important;
}

@keyframes collapse {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.messageStack > div > div > i {
  cursor: pointer;
}

@media (max-width: 485px) {
  .h {
    font-size: 0.75em !important;
    max-width: 150px !important;
    text-wrap: wrap;
  }

  footer p {
    font-size: 0.75em !important;
  }
}
